<div class="container">
 <div class="show-booking-dashboard">
  <h2> My bookings </h2>
  <% if @bookings_user_received.any? %>
  <div class="row">
    <% @bookings_user_received.each do |booking| %>
    <div class="card p-3" id="card-booking">
      <ul data-booking-id="<%= booking.id %>" style="list-style: none;">
        <li> Guest name: <%=booking.user.name %></li>
        <li> Pool name: <%=booking.pool.name %></li>
        <li> Booking total: $<%=booking.price %></li>
        <li> Booking date: <%=booking.date %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <% else %>
  <p>You don't have any active or pending bookings currently</p>
  <% end %>
</div>
</div>
