<div class="card" style="width: 30rem;">
 <div class="card-body">
  <h2 class="card-title"> Who is visiting your pool </h2>
  <% if @bookings_user_received.any? %>
    <% @bookings_user_received.each do |booking| %>
    <div class="card p-3" id="card-booking">
      <ul class="list-group list-group-flush" data-booking-id="<%= booking.id %>" style="list-style: none;">
        <li class="list-group-item"> Guest name: <%=booking.user.name %></li>
        <li class="list-group-item"> Pool name: <%=booking.pool.title %></li>
        <li class="list-group-item"> Booking total: $<%=booking.pool.price %></li>
        <li class="list-group-item"> Booking date: <%=booking.date %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <% else %>
  <p>You don't have any active or pending bookings currently</p>
  <% end %>
</div>
</div>
