
<div class="container">
  <div class="show-booking-dashboard">
    <h2> My pools </h2>
    <% if @pools_user_own.any? %>
      <div class="row">

        <% @pools_user_own.each do |pool| %>
        <div class="card p-3" id="card-booking">
          <ul class="mr-3" style="list-style: none;">
            <li class="fi-card">
                <% if pool.photo.attached? %>
                  <%= link_to cl_image_tag(pool.photo.key), pool_path(pool.id) %>
                  <% else %>
                    <img src="https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621195184/hme6aurdauxn0v9dp76jzeo1cy0n.jpg" class="fi-card fi-image card-text fi-text-js text-center" alt="">
                <% end  %>
              </li>
            <li> <%= pool.title %> </li>
            <li> Description: <%= pool.description %></li>
            <li> Location: <%= pool.location %></li>
            <li> Price: <%= pool.price %></li>

            <div class="row justify-content-around mt-2">
              <li><%= link_to "View pool", pool_path(pool.id), class: "btn btn-primary btn-sm mb-1" %></li>
            </div>
          </ul>
      </div>
        <% end %>
          </div>
    <% else %>
      <p>You haven't added any pools yet!</p>
    <% end %>
  </div>
</div>


