<%= link_to pool_path(pool), class: "Card" do %>
  <div class="Card__inner">
    <figure class="Card__img">
      <% if pool.photo.present? %>
        <img
          src='<%= "#{pool.photo_url(:placeholder)}" %>'
          data-lowsrc='<%= "#{pool.photo_url(:placeholder)}" %>'
          data-src='<%= "#{pool.photo}" %>'
          alt='<%= "#{pool.location}" %>'
          class="lazyload"
          />
      <% end %>
    </figure>
    <div class="Card__body">
      <h3 class="Card__title"><%= pool.location %></h3>
     <!--  <div class="Card__price">$ <%= "#{pool.price}0" %> / day</div> -->
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
              <% (1..5).to_a.each do |pool| %>
                <% if  pool.reviews.present? %>
                    <% if pool <= pool.reviews.last.rating %>
                      <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </span>
        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
<% end %>
