<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621287641/1_ihbikl.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav mr-auto">
  <div class="navbar-search d-flex">
      <li class="nav-item active">
               <%= form_tag pools_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control form-search-home-navbar", id: "form-search-home-navbar",
          placeholder: "Search for Pools..."
          %>

        <% end %>
      </li>
     <!--  <li class="nav justify-content-center">
          <button name="button" type="submit" class="btn btn-flat">
                  <i class="fas fa-search"></i> Search
          </button>
      </li> -->
  </div>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "HOME", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "FIND A POOL", "/pools", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "BECOME A HOST", "/pools/new", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "MY DASHBOARD", "/users/dashboard", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>



